<div class="img-container background-img">
  <div class="img-text">
    <h1>Welcome to Travelers Guide!</h1>
    <p>Find information about countries below!</p>
  </div>
</div>
<div class="colored-forum">
  <div class="form-text">
    <h3 style="color: black">Sign up for our newsletter!</h3>
  </div>
  <div class="form-imput-text">
    <form action=""></form>
    <input type="text" id="fname" name="fname" placeholder="First Name" class="input-box" />
    <input type="text" id="email" name="email" placeholder="Email" class="input-box" />
    <input type="submit" value="Submit" class="btn-adjust-size btn btn-dark btn-med control-btn" />
  </div>
</div>
<main>
  <section>
    <div class="instruction-container">
      <div class="text-div">
        <h1 class="ins-header">Fast and Easy!</h1>
      </div>
      <div class="text-div">
        <p class="ins-p" id="text">
          Doesn't get much simplier. Search a country and see it's info!
        </p>
      </div>
    </div>
  </section>

  <div class="control">
    <input class="input" type="text" id="Search-box" placeholder="Enter Country" />
  </div>

  <div class="control center-btn">
    <a href="#"><button class="btn btn-dark btn-lg control-btn" id="Submit-btn">
        Submit
      </button></a>
  </div>
  <br />

  <div class="country-div">
    <div class="dis-colmun" id="country-flag">
      <h3>Country Flag:</h3>
      <div class="country-flag" id="country-flag-div">
        <img src="{{userCountrySearch.country_img}}" alt="Flag img">
      </div>
    </div>

    <div>
      <div class="div-map">
        <h3>Google maps:</h3>
        <div id="maps-display">
          
          <div class="google-maps">
            <iframe width="280" height="300" style="border: 1px solid black;" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade" src={{googlemapsLink}}>
            </iframe>
          </div>
        </div>
      </div>
    </div>

    <div class="country-info">
      <h3>Country Information:</h3>
      <div id="display-country-info">
        {{userCountrySearch.country_title}}
        {{userCountrySearch.capital}}
        {{userCountrySearch.region}}
        {{userCountrySearch.subregion}}
        {{userCountrySearch.currencies}}
        {{userCountrySearch.languages}}
        {{userCountrySearch.borders}}
        {{userCountrySearch.sideofroad}}
      </div>
    </div>
  </div>
</main>